@charset "utf-8";

/* 


  Starter


*/

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
  background-color: #f3f3f3;
  width: 100%;
  overflow-x: hidden;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, section {
	display: block;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

/* 


  Header (Index)


*/

nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background-color: rgb(255, 147, 45);
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 18pt;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/*


  Header (Restaurant)


*/

.inside nav {
  flex-grow: 2;
}
.inside header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;
  padding: 0 0 10px 0;
}

.inside header #map-toggle,
.inside header #photo-toggle {
  padding: 10px 0 0 10px;
  margin: 0;
}

.maxSubHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  max-width: 1000px;
  width: 100vw;
}

/* 


  Breadcrumb (Restaurant)


*/
#breadcrumb {
    padding: 10px 0 0 10px;
    list-style: none;
    margin: 0;
    width: 50%;
}
#breadcrumb li {
    display: inline;
    font-size: 1.4em;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/*


  Main


*/

#maincontent {
  background-color: #f3f3f3;
  min-height: 100vw;
}

/*


  Main (restaurant)


*/

.inside #maincontent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


/* 


  Map


*/

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* 


  Map (restaurant)


*/

.inside #map-container {
  position: relative;
  right: 0;
  margin: 0 0 0 0;
  width: 100%;
  overflow: hidden;
}
.inside #map {
  display: flex;
  background-color: #ccc;
  height: 400px;
  width: 100%;
}

/* 


  Filters (index)


*/

.filter-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-color: rgb(255, 147, 45);
  padding: 0;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 3px;
  margin: 0 20px;
}
.filter-options select {
  background-color: #f3f3f3;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  height: 35px;
  letter-spacing: 0;
  border: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
}
.filter-options option {
  width: 100%;
}

/* 


  Map Photo Toggles


*/

#map-toggle,
#photo-toggle {
  background-color: #f3f3f3;
  font-family: Arial,sans-serif;
  font-size: 1.4em;
  width: 20%;
  height: 35px;
  letter-spacing: 0;
  border: 0;
  margin: 10px;
  padding: 0 10px;
}

/* 


  Restaurant Info (index)


*/

#restaurants-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-family: Arial,sans-serif;
  margin: 7px 7px;
  height: auto;
  padding: 0;
  text-align: left;
  width: 100%;
}
#restaurants-list .restaurant-img {
  border-radius: 20px 0 0 20px;
  margin: 0;
  width: 40%;
  height: 100%;
}
#restaurants-list .restaurant-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 70%;
  height: 100%;
}
#restaurants-list li h1 {
  color: rgb(248, 177, 45);
  font-family: Arial,sans-serif;
  font-size: 12pt;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px;
}
#restaurants-list p {
  margin: 0;
  font-size: 12pt;
}
#restaurants-list p.restaurant-type {
  color: rgb(173, 169, 169); 
}
#restaurants-list li a {
  background-color: rgb(248, 177, 45);
  border-radius: 25px;
  color: #fff;
  width: 100%;
  font-size: 12pt;
  margin-top: 10px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* 


  Restaurant Info (restaurant)


*/

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 0 10px 0 10px;
  margin: 10px 0px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
  display: none;
  background-color: #ccc;
  height: 400px;
  width: 100%;
}
#restaurant-address {
  font-size: 1.3em;
  margin: 10px 0px;
  text-align: center;
}
#restaurant-cuisine {
  font-size: 1.3em;
  color: rgb(43, 43, 43);
  font-weight: 300;
  margin: 10px 0px;
  letter-spacing: 1px;
  text-align: center;
}
#restaurant-container, 
#reviews-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}
#restaurants-list #restaurant-container {
  padding: 10px;
}
#restaurant-container {
  margin-top: 0;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  margin: 10px 0px;
}
#reviews-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 90%;
}
#reviews-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-between;
  justify-content: flex-end;
  background-color: #fff;
  list-style-type: none;
  margin: 0 0 20px;
  padding: 10px;
  width: 100%;
}
.review-name {
  margin: 0;
  width: 60%;
  font-size: 1.7em;
  align-self: center;
}
.review-date {
  width: 50%;
  order: 2;
  font-size: .9em;
  color: rgb(43, 43, 43);
  align-self: flex-start;
  text-align: right;
  margin: 0 0 10px;
}
.review-stars {
  width: 40%;
  align-self: flex-end;
  font-size: 1.7em;
  text-align: right;
  margin: 0;
}
.review-comments {
  font-size: 1.2em;
  order: 3;
  margin: 0;
}
#restaurant-hours td {
  color: #666;
  font-size: 1.3em;
}
